.dashboardActions {
    margin-top: 30px;
}
.dashboardActions_btn {
    text-decoration: none;
    padding: 10px;
    background-color: #0e013d;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
}
.dashboardActions_btn:hover {
    color: yellow;
}
.dashboardActions_btn > i {
    margin-right: 10px;
}