.head{
    display: flex;
    position: absolute;
	width: 100%;
	align-items: center;
    top: 0;
    z-index: 10000;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    /* background-color: #0e013d; */
	color: white;
    text-decoration: none;
}
.head.scroll{
	background-color: rgba(9, 0, 44, 0.9);
	position: sticky;
}
.phone_head a{
    color: #fff;
    text-decoration: none;
}
.phone_head a:hover{
    color: #FFD700;
}
.message_head{
    animation: message-shrink 1500ms;
    animation-iteration-count: infinite;
    transition: 2s ease-in-out;
    animation-timing-function: ease-in-out;
    
}
@keyframes message-shrink {
    0% {
      transform: scale(0.7);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
.message_head a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items:center;
}
.message_head a:hover{
    color: #FFD700;
}
.socail_head a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}
.socail_head a:hover{
    color: #FFD700;
}

@media screen and (max-width: 991px){
    .phone_head a{
        display: none;
    }
    .socail_head a {
        display: none;
    }
}